<h3 class="font-italic comment-notes"> Leave a comment </h3>
<%= form_for [post,comment] do |f| %>
  <div class="form-field">
    <%= f.text_area :body, class: 'form-control' %>
  </div><br>

  <div class="form-field">
    <%= f.submit "Add Comment", class: "btn btn-lg cool-btn" %>
  </div><br>
<% end %>
