/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

/* global */
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
/* global */
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* post show */
body.posts.show > .navbar {
  height: 60px;
}

/* global btn */
.cool-btn {
  border-color: #f7a6ee;
  color: #f7a6ee;
  background: {
    position: 100%;
    size: 400%;
  }
  transition: background 300ms ease-in-out;
  &:hover {
    background: #f7a6ee;
    color: white;
  }
}

/* global */

.cust-nav-item {
  border-bottom: 2px ridge white;
  margin-right: 10px;
  text-align: center;
}

/* only posts#index */
.sidey {
  padding-top: 25px;
  border: 1px solid pink;
  background-color: #cce6ff;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* post#index post#show */
.title-font {
  font-family: "Georgia";
  font-size: 30px;
  letter-spacing: 4px;
  color: #f7a6ee;
  font-weight: bold;
  text-shadow: 0.8px 1.6px 2.1px black;
}

/*post show */
.comment-notes {
  font-family: "Georgia";
  color: #f7a6ee;
  font-weight: bold;
  text-shadow: 0.6px 1.1px 1.6px black;
  letter-spacing: 2px;
}

/* global */
.navbar-font {
  font-family: "Georgia" !important;
  color: white !important;
  font-size: 30px;
  font-weight: bold !important;
  text-shadow: 1px 2px 3px black;
}
/* global */
.nav-link:hover {
  color: pink !important;
}
/* global */
.navbar-brand:hover {
  color: pink !important;
}
/* global */
.main-nav-item {
  font-size: 40px;
  margin-right: 700px;
}

/* post index */
.read-post-btn-div {
  margin-bottom: 20px;
}
/* global */
.navvy {
  background-image: url('navbar.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* global */
.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
  background-color: white;
}

/* global */
.bottom-border {
  border-bottom: 1px solid pink;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* post show */
.post-show-blog {
  margin-top: 50px;
  padding: 35px;
}

/* post show */
.post-show-blog > h1 {
  text-align: center;
  font-size: 40px;
}

/* post index */
.cover-image {
  height: auto;
  width: 100%;;
  padding: 0px;
}
/* post index */
.media-name {
  font-family: "Georgia";
  font-size: 24px;
  letter-spacing: 4px;
  color: #f7a6ee;
  font-weight: bold;
  text-shadow: 0.7px 1.4px 2px black;
}
/* post index */
.image-div {
  height: 225px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
}

.preview-div {

}
.blog:after {
  content: "";
  border: 1px solid pink;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
/* post index */
.facebook {
  border:1px solid black;
  box-shadow:1px 1px 2px 3px black;
}
/* post index */
.nav-link-font {
  font-family: "Georgia" !important;
  color: white !important;
  font-size: 16px;
  font-weight: bold !important;
  text-shadow: 0.7px 1.5px 2.1px black;
}

.top-marg {
  margin-top: 20px;
}

/* global */
.devise-forms {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #f7a6ee;
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  background-color: #cce6ff;
  -webkit-box-shadow: 2px 2px 4px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 4px 5px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 4px 5px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/* post index */
.create-post-btn {
  margin: 0 auto;
}

@media only screen and (max-width: 992px) {
  .sidey {
    position: static !important;
  }
  .cover-image {
    margin-bottom: 20px;
    text-align: left;
  }

  .preview-div {
    margin-top: 20px;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
  }

  .image-div {
    padding-left: 25px;
    padding-right: 25px;
  }

  .preview-blog-text > p {
    text-align: left center;
  }
  .navvy {
    height: auto !important;
  }
}


@media only screen and (max-width: 767px) {
  .preview-div {
    padding-left: 50px;
    padding-right: 50px;
  }
}
