<div class="top-marg text-center search-container">
  <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Blogs..." %>
      <%= submit_tag "Search", :name => nil, class: "cool-btn btn-sm btn" %>
  <% end %>
</div>
